:{$PORT} {
  root * /srv


  @static file
  handle @static {
    file_server
  }


  @html header Accept *text/html*
  handle @html {
    try_files {path} {path}/ /index.html
    file_server
  }


  handle {
    respond "Not found" 404
  }
}
